.user-data {
    border-radius: 10px; 
    margin-top : .5em;
    padding: 20px; 
    text-align: center;
    background-color: #E6F1FB; 
    color: #1C3A61; 
    font-family: serif;
    font-size: 1.2em;
    font-weight: 750;
  }

  
  .user-data:hover {
    border-color: #357ABD; 
    background-color: #D0E4F9; 
  }
  
  .container-info {
    width: 70%; 
    margin: 2% auto; 
     
    padding: 20px; 
    border: 2px solid #4A90E2; 
    border-radius: 10px; 
    background-color: #F9FBFE;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }

  .container-info-2 {
    width: 70%; 
    margin: 2% auto; 
     
    padding: 20px; 
    border: 2px solid #4A90E2; 
    border-radius: 10px; 
    background-color: #F9FBFE;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1);
    gap: 30px;
  }

  

  @media (max-width: 1000px) {
    .container-info {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
}

@media (max-width: 700px) {
    .container-info {
        grid-template-columns: 1fr; 
        grid-template-rows: auto; 
    }
  }

  .navbar {
    background-color: #fff !important;
  }

  .account-info-body {
    height: 94vh;
    overflow-y : hidden;
    background: #edc2d5;
    background: linear-gradient(189deg, rgba(237, 194, 213, 1) 0%, rgba(133, 186, 242, 1) 100%);
    
    /* background: #E7E9BB;
background: linear-gradient(135deg, #E7E9BB, #A2E3D9);*/
    
  }


  .container-image-edit{
    width: 75%; 
    margin: 2% auto; 
    padding: 20px; 
    border-radius: 10px; 
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(1);
    gap: 20px;
  }

  .container-image {
   /* display: flex;
    align-items: center;
    justify-content: flex-end;*/
    justify-self: end; /* Poravnanje drugog diva desno */


  }

  .profile-image{
    border-radius: 50%;
    width: 8em;
    height: 8em;
    border: 1px solid #4A90E2;
    margin-right: 2em;
    background-image: url("../slike/placeholder.jpg");
    background-size: 100% 100%;
  }


  .file-upload {
    padding: 10px 20px;
    font-size: 16px;
    opacity: 0.4;
    color: black;
    border-radius: 5px;
    cursor: pointer;    
  }

  .file-upload:hover{
    opacity: 1;
  }

  .container-edit {
    margin: 0 auto; 
    padding: 20px; 
    border-radius: 10px; 
    justify-self: end;

  }

  .btn-edit {
    width: 10vw;
    padding: 1.2em;
    border-radius: 10px;
    border: 1px solid #4A90E2;
    opacity: 0.8;
    background: transparent;

  }

  .btn-edit:hover{
    background-color: lightblue;
    opacity: 1;
    transition: all .6s;
    box-shadow : 2px 2px 10px#fff;
    border : 1px solid white;
    animation: shake 0.5s ease-in-out; 
    background-color: #fff;
    
  }

  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px); 
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(0);
    }
  }


  .btn-save {
    width: 10vw;
    padding: 1.2em;
    border-radius: 10px;
    border: 1px solid #4A90E2;
    opacity: 0.8;
    background-color: white;
    border: 2px solid #1C3A61;

  }

  .user-data-animation{
    border-radius: 10px; 
    margin-top : .5em;
    padding: 20px; 
    text-align: center;
    background-color: #E6F1FB; 
    color: #1C3A61; 
     font-family: serif;
    font-size: 1.2em;
    font-weight: 750;
    animation : change-data 2s infinite ease-in-out;
  }

  @keyframes change-data {
    0% {background-color: #E6F1FB;}
    
    50% {background-color: #a5bfd6;}

    100% {background-color: #98b7d3;}
}



.container-info-admin{
  width: 70%; 
    margin: 2% auto; 
    margin-top: 10em;
    padding: 20px; 
    border: 2px solid #4A90E2; 
    border-radius: 10px; 
    background-color: #F9FBFE;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px
}

.container-info-admin-2{
  width: 70%; 
    margin: 2% auto; 
     
    padding: 20px; 
    border: 2px solid #4A90E2; 
    border-radius: 10px; 
    background-color: #F9FBFE;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1);
    gap: 30px;

}


.user-data-admin {
  border-radius: 10px; 
  margin-top : .5em;
  padding: 20px; 
  text-align: center;
  background-color: #E6F1FB; 
  color: #1C3A61; 
  font-family: serif;
  font-size: 1.2em;
  font-weight: 750;
  margin-left: 7em;
}
  
  