.container-option{
    width: 55vw;
    height: 35vh;
    background-color: white;
    border: 3px solid #2124c4;
    border-radius: 15px;
    align-items: center;
    display: grid;
    position : fixed;
    top : 30%;
    left : 20%;
}



.two-containers{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px

}


.buttons-second{
    background-color: #ffaf1a;
    height: 10vh;
    width: 25vw;
    border-radius: 20px;
    margin-left: 20px;
    font-size: 24px;
    border: 2px solid #2124c4;
    color: black;
    font-weight: 500;
}

.buttons-second:hover{
    box-shadow: .5em .5em .4em gray;
}


.title-izbor{
    margin-left: 30px;
    font-size: 28px;
    color: #2124c4;
    font-weight: 600;
    margin-bottom: -10px;
}