
.tabela-kontejner-user {
    overflow-x: hidden;
    width: 80vw;
    border: 2px solid black;
    border-radius: 20px;
    margin-left: 11em;
    margin-top: 5em;
    display: flex;
    background-color: white !important;
   }


   .tabela-kontejner-banka{
    overflow-x: hidden;
    width: 80vw;
    border: 2px solid black;
    border-radius: 20px;
    margin-left: 13em;
    margin-top: 5em;
    display: flex;
    background-color: white !important;
   }
  
  .user-tabela {
    width: 100%; 
    border-collapse: collapse;  
   justify-content: center;
   align-items: center;
  }


  
  .red {
    border: 1px solid #ccc; 
    padding: 8px;
    text-align: left;
    font-size: 18px;
    font-weight: 450;
  }

  .kolona{
    border: 1px solid black; 
    padding: 8px;
    text-align: left;
   /* background-color: #f2f2f2; */
   background-color: lightgray;
    font-weight: bold;
  }


  .red:hover{
    background-color: lightgray;
  }
  
  
  .zakljucan-background{
    overflow-y: hidden;
  }
  